<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pam</title>
    <link rel="stylesheet" href="/resources/css/style.min.css">
  </head>
  <body>
    <section class="hero is-info is-medium">
      <div class="hero-body">
        <div class="container has-text-centered">
          <h1 class="title">Pam</h1>
          <h2 class="subtitle">"{{.PamQuote}}"</h2>
          <div class="columns is-desktop">
            <div class="column is-half is-offset-one-quarter">

              <form action="/search" method="post">
                <div class="field is-grouped">
                  <p class="control is-expanded">
                    <input class="input" type="text" placeholder="Search ArXiv (Coming soon!)" name="search">
                  </p>
                </div>
                <div class="field is-grouped is-grouped-centered">
                  <!-- Search button -->
                  <p class="control">
                    <a class="button is-success">Search</a>
                  </p>
                  <!-- Voice search button -->
                  <p class="control">
                    <a class="button is-warning">Hey, Pam!</a>
                  </p>
                </div>
              </form>    

            </div>                   
          </div>
        </div>
      </div>
    </section>
    <section class="hero is-primary">
      <div class="hero-body">
        <div class="container has-text-centered">
          {{if eq (len .Papers) 0}}
            <h1 class="subtitle">No papers found!</h1>
          {{else}}
            {{range $paper := .Papers}}
              <div class="box">
                <article class="media">
                  <div class="media-content">
                    <div class="content">
                      <p>
                        <strong><a href="/p/{{$paper.Title}}">{{$paper.Title}}</a></strong><br>
                        {{join $paper.Authors ", "}}
                      </p>
                    </div>
                  </div>
                </article>
              </div>
            {{end}}
          {{end}}
        </div>
      </div>
    </section>
    <footer class="footer">
      <div class="container">
        <div class="content has-text-centered">
          <p>
            <strong>Pam
            </strong> by 
            <a href="https://github.com/jinyeom">Jin Yeom</a>.
            The source code is licensed <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
          </p>
        </div>
      </div>
    </footer>
  </body>
</html>
